.react-chatbot-kit-chat-container {
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 50px;
}

.chatbot-header {
  display: none;
  /* Assuming the intended selector is `.chatbot-header d` */
}

.react-chatbot-kit-chat-bot-message {
  width: 100% !important;
}
.react-chatbot-kit-chat-inner-container {
  height: 68vh !important;
}
.react-chatbot-kit-chat-message-container {
  height: 93% !important;
}
